:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --z-index: 2000;

  /* 亮色主题变量 */
  --bg-color: #F3F3F3;
  --text-color: #000000;
  --btn-bg: #fff;
  --btn-hover: #FCFCFC;
  --bg-1-color: #F1F1F5;
  --bg-2-color: #EAE9F0;
  --line-color: #E6E4EA;
  --popover-bg-color: #F7F6FA;
  --bg-3-color: #9A9A9A;
  --active-keyboard-color: #A3A3A3;
  --radio-bg-color: #EDEDEE;
  --radio-check-bg-color: #F4F3F9;

  /* 键盘文字大小 - 默认值 */
  --keyboard-font-size: clamp(14px, 4vmin, 48px);
}

html.dark {
  /* 深色主题变量 */
  --bg-color: #211e29;
  --text-color: #ffffff;
  --btn-bg: #33313B;
  --btn-hover: #3C3942;
  --bg-1-color: #36333B;
  --bg-2-color: #2E2B36;
  --line-color: #33313B;
  --popover-bg-color: #2D2A32;
  --bg-3-color: #AEAEAE;
  --active-keyboard-color: #9F9FA0;
  --radio-bg-color: #1F1A24;
  --radio-check-bg-color: #2B2832;
  --border-color: #312E38;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  user-select: none;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  overflow: auto;
}

.disabled {
  opacity: .45;
  cursor: not-allowed;
}

input {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);

  &:focus {
    outline: 1px solid var(--border-color);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  transition: all 0.2s ease-out;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background-color: inherit;
}